@page
@model InuranceRazorPage.Pages.InsuredPerson.IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "_LayoutInsuredPerson";
}

<section class="vh-100" style="background-color: #f4f5f7;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-6 mb-4 mb-lg-0">
                <div class="card mb-3" style="border-radius: .5rem;">
                    <div class="row g-0">
                        <div class="col-md-4 gradient-custom text-center text-white"
                             style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                            <img src="@Url.Content("~/images/person.ico")"
                                 alt="Avatar" class="img-fluid my-5" style="width: 80px;" />

                            <h5>@Model.Customer.Firstname  @Model.Customer.Fathername @Model.Customer.Lastname</h5>
                            <h6>@Model.Age Years, @Model.Customer.Gender</h6>
                            <p>@Model.Customer.Relation</p>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body p-4">
                                <h6>Information</h6>
                                <hr class="mt-0 mb-4">
                                <div class="row pt-1">                                    
                                    <div class="col-6 mb-3">
                                        <h6>Phone</h6>
                                        <p class="text-muted">@Model.Customer.Phone</p>
                                    </div>
                                    <div class="col-6 mb-3">
                                        <h6>Address </h6>
                                        <p class="text-muted">@Model.Customer.Address.Subcity.Name /@Model.Customer.Address.Woreda /@Model.Customer.Address.HouseNumber</p>
                                    </div>
                                </div>
                                <h6>@Model.Package Package</h6>
                                <hr class="mt-0 mb-4">
                                <div class="row pt-1">
                                    <div class="col-6 mb-3">
                                        <h6>Total Members</h6>
                                        <p class="text-muted">@Model.Customer.Cbhi.TotalMembers</p>
                                    </div>
                                    <div class="col-6 mb-3">
                                        <h6>Status</h6>
                                        <p class="text-muted">@(Model.Customer.Cbhi.IsPaid ? "paid" : "unpaid")</p>
                                    </div>
                                    <div class="col-6 mb-3">
                                        <h6>Expires</h6>
                                        <p class="text-muted">@(Model.Customer.Cbhi.IsPaid ? @Model.EndDateStr: "-")</p>
                                    </div>
                                    @if (!Model.Customer.Cbhi.IsPaid)
                                    {
                                        <div class="col-6 mb-3">
                                            <a asp-page="./Payment" asp-route-id="@Model.Customer.Id">
                                                <button type="button" class="btn btn-success rounded-pill">Pay</button>
                                            </a>
                                        </div>

                                    }
                                </div>
                                <div class="d-flex justify-content-start">
                                    <a href="#!"><i class="fab fa-facebook-f fa-lg me-3"></i></a>
                                    <a href="#!"><i class="fab fa-twitter fa-lg me-3"></i></a>
                                    <a href="#!"><i class="fab fa-instagram fa-lg"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
  
