@page
@model InuranceRazorPage.Pages.SystemAdmin.Accounts.CreateModel
@{
    Layout = "_form";
}

    
<div class="container">
    <div class="title">Register Account</div>
    <div class="content">
        <form method="post">    
            <div class="user-details">
                <div class="input-box">
                    <label asp-for="AccountDto.Firstname" class="details"></label>
                    <input type="text" asp-for="AccountDto.Firstname" placeholder="Enter your Firstname" class="form-control" required />
                    <span asp-validation-for="AccountDto.Firstname" class="text-danger"></span>
                </div>
                <div class="input-box">
                    <label asp-for="AccountDto.Phone" class="details"></label>
                    <input type="text" asp-for="AccountDto.Phone" placeholder="Enter your Phone" class="form-control" required  />
                    <span asp-validation-for="AccountDto.Phone" class="text-danger"></span>
                </div>
                <div class="input-box">
                    <label asp-for="AccountDto.Fathername" class="details"></label>
                    <input type="text" asp-for="AccountDto.Fathername" placeholder="Enter your Fathername" class="form-control" required />
                    <span asp-validation-for="AccountDto.Fathername" class="text-danger"></span>
                </div>
                <div class="input-box">
                    <label asp-for="AccountDto.Dob" class="details"></label>
                    <input type="date" asp-for="AccountDto.Dob" placeholder="Enter your Birthdate" class="form-control" required />
                    <span asp-validation-for="AccountDto.Dob" class="text-danger"></span>
                </div>
                <div class="input-box">
                    <label asp-for="AccountDto.Lastname" class="details"></label>
                    <input type="text" asp-for="AccountDto.Lastname" placeholder="Enter your Lastname" class="form-control" required />
                    <span asp-validation-for="AccountDto.Lastname" class="text-danger"></span>

                </div>
                <div class="input-box">
                    <div class="gender-details">
                        <span class="gender-title">Gender</span>
                    </div>
                    <select name="AccountDto.Gender" class="form-select">
                        <option value="">Gender</option>
                        @foreach (var item in Model.GenderOptions)
                        {
                            <option value="@item">@item</option>
                        }
                    </select>
                    <span asp-validation-for="AccountDto.Gender" class="text-danger"></span>
                 </div>
                <div class="input-box">
                    <label asp-for="AccountDto.Username" class="details"></label>
                    <input type="text" asp-for="AccountDto.Username" placeholder="Enter your Username" class="form-control" required />
                    <span asp-validation-for="AccountDto.Username" class="text-danger"></span>
                </div>
                <div class="input-box">
                    <div class="gender-details">
                        <span class="gender-title">Role</span>
                    </div>
                    <select name="AccountDto.RoleId"  class="form-select" >
                        <option value="0">Role</option>
                        @foreach (var item in Model.Roles)
                        {
                            <option value="@item.Id">@item.RoleName</option>
                        }
                    </select>
                    <span asp-validation-for="AccountDto.RoleId" class="text-danger"></span>
                </div>
                <div class="input-box">
                    <label asp-for="AccountDto.Password" class="details"></label>
                    <input type="password" asp-for="AccountDto.Password" placeholder="Enter your Password" class="form-control" required />
                    <span asp-validation-for="AccountDto.Password" class="text-danger"></span>
                </div>
                <div class="input-box">
                    <div class="gender-details">
                        <span class="gender-title">Address</span>
                    </div>
                    <select name="AccountDto.SubcityId" onchange="GetWoreda()" class="form-select" id="Subcity">
                        <option value="0">Subcity</option>
                        @foreach (var item in Model.Subcities)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                    <span asp-validation-for="AccountDto.SubcityId" class="text-danger"></span>
                    <div style="display: flex; justify-content: space-between;">
                        <div class="input-box " style="width: 50%;">
                            <label asp-for="AccountDto.Woreda" class="details"></label>
                            <input type="text" asp-for="AccountDto.Woreda" placeholder="Woreda" class="form-control" required />
                            <span asp-validation-for="AccountDto.Woreda" class="text-danger"></span>
                        </div>
                        <div class="input-box " style="width: 50%; ">
                            <label asp-for="AccountDto.HouseNumber" class="details"></label>
                            <input type="text" asp-for="AccountDto.HouseNumber" placeholder="House Number" class="form-control" required />
                            <span asp-validation-for="AccountDto.HouseNumber" class="text-danger"></span>
                        </div>
                    </div>
                 </div>
            </div>
            <div class="button">
                <input type="submit" value="Register">
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-page="./ManageAccounts">Go back</a>
</div>





