@page
@model InuranceRazorPage.Pages.Clerk.Customers.CreateModel
@{
    Layout = "_form";
}

<div class="container">
    <div class="title">Register Customer</div>
    <div class="content">
        <form method="post">
            <div class="user-details">
                <div class="input-box">
                    <label asp-for="CustomerDto.Firstname" class="details"></label>
                    <input type="text" asp-for="CustomerDto.Firstname" placeholder="Enter your Firstname" class="form-control" required />
                    <span asp-validation-for="CustomerDto.Firstname" class="text-danger"></span>
                </div>
                <div class="input-box">
                    <label asp-for="CustomerDto.Fathername" class="details"></label>
                    <input type="text" asp-for="CustomerDto.Fathername" placeholder="Enter your Fathername" class="form-control" required />
                    <span asp-validation-for="CustomerDto.Fathername" class="text-danger"></span>
                </div>
                <div class="input-box">
                    <label asp-for="CustomerDto.Lastname" class="details"></label>
                    <input type="text" asp-for="CustomerDto.Lastname" placeholder="Enter your Lastname" class="form-control" required />
                    <span asp-validation-for="CustomerDto.Lastname" class="text-danger"></span>
                </div>
                <div class="input-box">
                    <label asp-for="CustomerDto.Phone" class="details"></label>
                    <input type="text" asp-for="CustomerDto.Phone" placeholder="Enter your Phone" class="form-control" required />
                    <span asp-validation-for="CustomerDto.Phone" class="text-danger"></span>
                </div>
                <div class="input-box">
                    <label asp-for="CustomerDto.Dob" class="details"></label>
                    <input type="date" asp-for="CustomerDto.Dob" placeholder="Enter your Birthdate" class="form-control" required />
                    <span asp-validation-for="CustomerDto.Dob" class="text-danger"></span>
                </div>
                <div class="input-box">
                    <div class="gender-details">
                        <span class="gender-title">Gender</span>
                    </div>
                    <select name="CustomerDto.Gender" class="form-select">
                        <option value="">Gender</option>
                        @foreach (var item in Model.GenderOptions)
                        {
                            <option value="@item">@item</option>
                        }
                    </select>
                    <span asp-validation-for="CustomerDto.Gender" class="text-danger"></span>
                </div>

                <div class="input-box">
                    <div class="gender-details">
                        <span class="gender-title">Package</span>
                    </div>
                    <select name="CustomerDto.PackageId" class="form-select">
                        <option value="0">Package</option>
                        @foreach (var item in Model.Packages)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                    <span asp-validation-for="CustomerDto.PackageId" class="text-danger"></span>
                </div>

                <div class="input-box">
                    <div class="gender-details">
                        <span class="gender-title">Address</span>
                    </div>
                    <select name="CustomerDto.SubcityId" onchange="GetWoreda()" class="form-select" id="Subcity">
                        <option value="0">Subcity</option>
                        @foreach (var item in Model.Subcities)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                    <span asp-validation-for="CustomerDto.SubcityId" class="text-danger"></span>
                    <div style="display: flex; justify-content: space-between;">
                        <div class="input-box " style="width: 50%;">
                            <label asp-for="CustomerDto.Woreda" class="details"></label>
                            <input type="text" asp-for="CustomerDto.Woreda" placeholder="Woreda" class="form-control" required />
                            <span asp-validation-for="CustomerDto.Woreda" class="text-danger"></span>
                        </div>
                        <div class="input-box " style="width: 50%; ">
                            <label asp-for="CustomerDto.HouseNumber" class="details"></label>
                            <input type="text" asp-for="CustomerDto.HouseNumber" placeholder="House Number" class="form-control" required />
                            <span asp-validation-for="CustomerDto.HouseNumber" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                
                <div class="input-box">
                    <div class="gender-details">
                        <span class="gender-title">Relation</span>
                    </div>
                    <select name="CustomerDto.Relation" class="form-select">
                        <option value="0">Package</option>
                        <option value="1">HouseHold</option>
                        <option value="2">HouseHold's Spouse</option>
                        <option value="3">Son</option>
                        <option value="4">Daughter</option>
                        <option value="5">Other</option>
                    </select>
                    <span asp-validation-for="CustomerDto.Relation" class="text-danger"></span>
                </div>

            </div>


            <div class="button">
                <input type="submit" value="Register">
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-page="./ManageCustomer">Go back</a>
</div>

