@page
@model InuranceRazorPage.Pages.SystemAdmin.Accounts.DetailModel
@{
}

<h1>Delete</h1>

<h4>Account</h4>
<div class="col-lg-8" style="margin-top:100px">
    <div class="card mb-4">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">Full Name</p>
                </div>
                <div class="col-sm-9">
                    <p class="text-muted mb-0">@Model.Account.Firstname</p>
                    <p class="text-muted mb-0">@Model.Account.Fathername</p>
                    <p class="text-muted mb-0">@Model.Account.Lastname</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">Username</p>
                </div>
                <div class="col-sm-9">
                    <p class="text-muted mb-0">@Model.Account.Username</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">Phone</p>
                </div>
                <div class="col-sm-9">
                    <p class="text-muted mb-0">@Model.Account.Phone</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">Gender</p>
                </div>
                <div class="col-sm-9">
                    <p class="text-muted mb-0">@Model.Account.Gender</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">Birthdate</p>
                </div>
                <div class="col-sm-9">
                    <p class="text-muted mb-0">@Model.Account.Dob.Day/@Model.Account.Dob.Month/@Model.Account.Dob.Year</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">Role</p>
                </div>
                <div class="col-sm-9">
                    <p class="text-muted mb-0">@Model.Account.role.RoleName </p>
                </div>
            </div>
            @*<hr>
            <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">Phone</p>
                </div>
                <div class="col-sm-9">
                    <p class="text-muted mb-0">(097) 234-5678</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">Mobile</p>
                </div>
                <div class="col-sm-9">
                    <p class="text-muted mb-0">(098) 765-4321</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">Address</p>
                </div>
                <div class="col-sm-9">
                    <p class="text-muted mb-0">Bay Area, San Francisco, CA</p>
                </div>
            </div>*@
        </div>
    </div>

</div>

<form method="post">
    <input type="hidden" asp-for="Account.Id" />
    <input type="submit" value="Delete" class="btn btn-danger" /> |
    <a asp-page="../ManageAccounts">Back to List</a>
</form>
